.DS_Store
node_modules
/build
/package
*.svelte-kit
vite.config.js.timestamp-*
# Sentry Config File
.sentryclirc
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.npmrc
.prettierignore
.prettierrc
.env*
.vercel
stats.html
